page-login{

	.ion-content{
		
	}
	.login-box{
		height:40%;
		margin-top: 10%;
		margin-right: 10px;
		width: auto;

	}
	.list{
		padding: 10px;
	}

	.img-box{
		margin-top: 20px
	}
	.title-box{

	}
	.label-one{
		color: #0000EE;
		font-size: 20;
	}
}